html, body {
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(90deg, #8baaaa 0%, #ae8b9c 100%);
  background-blend-mode: normal, lighten, soft-light;
}


canvas {
  display: block;
  
}

ul{
  list-style-type:none;
  list-style-position: inside;
  margin:85px 100px;
  padding:0;
  overflow:hidden;
  height:100%;
  font-family:Josefin slab;
  font-size: 20px; 
}

li{
  float:left;
  margin-left: 150px;
  margin-top: 35px;
  text-align: center;
}


.container2 #image1{  
 width: 60%;
 height: 60%;
 margin: auto 5px;
}

.container #image2{
 width: 300px;
 height: 300px;
 margin:-200px -100px;
  
}

.container2 #image4{  
  width: 200px;
  height: 200px;

 }
 .container2 #image5{  
  width: 200px;
  height: 200px;

 }

 .container2 #image6{  
  width: 200px;
  height: 200px;

 }

 .container2 #image7{  
  width: 200px;
  height: 200px;
 }

 div{
  width: 100%;
  text-align: top;
  animation: gradient 5.4s infinite ease-in-out;
  letter-spacing: 10px;
  white-space: nowrap;
  font-size: 20px;
}

  
@keyframes gradient{
  0%{
    letter-spacing: 10px;
  }
  40%{
    letter-spacing: 50px;
  }

  80%{
    letter-spacing: 10px;
  }
  
  
  100%{
    letter-spacing: 10px;
  }
  
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --color-1: transparent;
  --color-2: #b1d85c;
}

.stripes {
  font-weight: bold;
  font-size: 20vw;
  display: block;
  /* position: fixed;
  top: 20px;
  left: -5vw;
  bottom: 0;
  right: 0; */
  display: grid;
  place-items: center;
  color:rgb(209,182,225);
}

.stripes:after {
  content: "";
  /* position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0; */
  bottom: 0;
  width: 10vw;
  height: 10vw;
  border: 50px solid rgb(157,200,200);
  border-right-color: transparent;
  border-left-color: transparent;
  z-index: -10;
  border-radius: 50%;
  animation: border 2.3s infinite steps(8);
}

@keyframes border {
  0% {
      transform: rotate(0) scale(0);
  }
  50% {
    transform: rotate(360deg) scale(5);     
  }

  100% {
      transform: rotate(720deg) scale(10);
      border: 50px solid rgb(81,157,158);
      border-right-color: transparent;
      border-left-color: transparent;
  }
}
