canvas {
  display: block;
}

h1{
  position: fixed;
  margin: 100px 200px;
  padding-top: 5%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 70px;
  font-style: italic;
  letter-spacing: -3px;
  animation: gradient 5.4s infinite ease-in-out;
  color:rgb(45, 42, 48);
}

*{
  position: fixed;
  margin: 0;
  padding: 0;
}

#button{
  position: fixed;
  margin: 450px 750px;
  padding: 10px;  
  height: 50px;
  font-size: 16px;
}

textarea{
  margin: 450px 200px;
  width: 500px;
  height: 50px;
  border: 0px rgb(116, 20, 116) solid;
  outline: 1px;
  resize: none;
}

li{
  width: 500px;
  height: auto;
  padding: 5px;
  /* background-color: white; */
  /* border: 1px black solid; */
  font-size: 15px;
  margin: 100px 800px;
}

li a{
  float: right;
}
@keyframes gradient{
  0%{
    letter-spacing: 5px;
  }
  40%{
    letter-spacing: 13px;
  }
  60%{
    letter-spacing: 22px;
  }

  80%{
    letter-spacing: 13x;
  }
  
  100%{
    letter-spacing: 5px;
  }
}
  
